<% @categories.try(:each) do |cat| %>
    <figure class="effect-oscar wowload fadeInUp img-normalizer category">
        <%= cl_image_tag(cat.image, :crop=>"mpad", class: 'lazy') %>
        <figcaption>
            <h2><span class='item-name'><span class='name'><%= cat.name %></span></span></h2>
            <p><%= cat.description %><br>
            <%= link_to 'Больше', category_path(cat) %></p>            
        </figcaption>
    </figure>
<% end %>

<script>
$(function() {
    $("img.lazy").lazyload({
      threshold : 200,
      effect : "fadeIn"
    });
});
</script>