// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h2 {
  font: 300 2.5em 'Comfortaa', cursive;
}

.name {
  word-spacing: 0.3em
}

figcaption h2 {
  word-spacing: 0.3em
}